@charset "utf-8";
/* CSS Document */
html{width:100%;height:100%;}

body{width:100%;height:100%;overflow:hidden;min-width:600px;}
.dn{display:none;}
.Page1 .bg{backGround:url('../image/bg.jpg') repeat-x bottom left #348cb2;background-size:1200px auto;width:3600px;
position:fixed;top:0;left:0;height:100%;
    animation:bgmove 60s linear infinite;
    -webkit-animation:bgmove 60s linear infinite; /* Safari 和 Chrome */
    animation-direction:alternate;
    -webkit-animation-direction:alternate;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    }
@keyframes bgmove{
    0%{transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        }
    100%{transform: translate3d(-2000px,0,0);-webkit-transform: translate3d(-2000px,0,0);
        -moz-transform: translate3d(-2000px,0,0);
        -ms-transform: translate3d(-2000px,0,0);
        -o-transform: translate3d(-2000px,0,0);
        }
}

::selection{color:#e2de73;}
::-moz-selection{color:#fff;}

